﻿@model DocumentStorage.Web.Models.UserViewModel
@{
    ViewBag.Title = "Administrator Page";
}

<h2>Administrator Page</h2>

<p style="color:red; font-weight: bold">@ViewData["res"]</p>

@Html.Partial("UserEdit", Model.EditedUser)
@Html.Partial("UserList", Model.ListOfUsers)