﻿@model DocumentStorage.Web.Models.User
@{
    ViewBag.Title = "UserDetails";
}

<h2>Datasheet of a User </h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>The ID of the User</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Name)
        </td>
        <td>
            @Html.DisplayFor(m => m.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Admin)
        </td>
        <td>
            @Html.DisplayFor(m => m.Admin)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.AddDate)
        </td>
        <td>
            @Html.DisplayFor(m => m.AddDate)
        </td>
    </tr>
</table>
