﻿@model DocumentStorage.Web.Models.User

<h2>Edit, or add User</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()
    //CSRF = Cross Site Request Forgery
    @Html.Hidden("editAction", TempData["editAction"].ToString());

    @Html.HiddenFor(m => m.Id);


    <div class="editor-label">@Html.LabelFor(m => m.Admin)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Admin)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <input type="submit" value="SEND" />
}
